.search-bar {
    
    margin-top: 3rem;
    width: 40%;
}

.p_pic {
    right: 80%;
    width: 250px;
}

tbody, tr, td, th, thead, table {
    border: 1px solid black;
    padding: 0 20px 0 20px;
    margin: auto;
    font-size: 20px;
    
}

.personal_info {
    font-size: 22px;
    
}


.select_data_space {
    width: 100%;
    height: 3rem;
    
}

.db_name {
    font-size: 22px;
    color: blue;
}

.footer {
    top: 50%;
}

.section-title {
    font-size: 28px;
    padding-top: 20px;
}

.wrapper{
    width: 650px;
    margin: 0 auto;
}
.page-header h2{
    margin-top: 0;
}
table tr td:last-child a{
    margin-right: 15px;
}